
#nav-bar{
    position: fixed;
    top:0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: start;
    background-color: aliceblue;
}

img{
    position: fixed;
}

#nav-bar a {
    text-decoration: none;
}

h1{
    margin : 10%;
    text-align: center;
}

#form{
    margin: 0% 25%;
}

@media screen and (min-width : 768px) {
#nav-bar{
    top : 10%;
}
}