@media screen and (min-width:780px){
    *{
        box-sizing: border-box;
    }
    
    #navbar{
        border : 1px solid black;
        width: 200px;
        position: fixed;
        height: 100%;
    }
    
    header{
        text-align: center;
        font-size: larger;
        font-weight: bold;;
    }
    
    #navbar ul{
        list-style-type: none;
        padding: 0;
        border: 1px solid gray;
        margin-bottom: 0;
    }
    
    #navbar li{
        border : 1px solid gray;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        height: 70px;
        text-align: center;
        font-size: large;
    }
    
    #navbar a{
        text-decoration: none;;
    }
    
    #main-doc{
        margin-left: 250px;
    }    
}

