*{
    box-sizing: border-box;
}

#house{
    border: 0px solid transparent;
    position:relative;
    width: 500px;
    height:400px;
    background-color: lightseagreen;
    top:100px;
    left:100px;
}

#house>div{
    position:absolute;
}

#roof{
    border: 5px solid lightgreen;
    background-color: green;
    top: 0;
    height:100px;
    width:600px;
    left:-50px;
/*     border-left:25px solid transparent;
    border-right:25px solid transparent;
    border-bottom: 125px solid blue; */
}

#chimney{
    border: 5px solid slategray;
    top:-100px;
    left: 350px;
    width: 100px;
    height: 100px;
    background-color: lightgray;
    z-index: -1;
}

#door{
    border : 5px solid  coral;
    background-color: lightcoral;
    bottom:0;
    height:200px;
    width : 100px;
    left:200px;
}

#window-1{
  width: 50px;
  height: 100px;
  border:1px solid lightyellow;
  background-color: yellow;
  bottom: 100px;
  left:100px;
}


#window-2{
    width: 50px;
    height: 100px;
    border:1px solid lightyellow;
    background-color: yellow;
    bottom: 100px;
    right:100px;
  }

