.blog-post-card{
    background-color:white;
    border-radius : 10px;
    border : solid;
    width : 50%;
    text-align : center;
    margin : 25%;
  }
  
  .post-img{
  background-size: contain;
  border-bottom: solid;
  width:100%;
  }
  
  .post-content{
    padding : 2px;
  }
  
  .post-title,.post-excerpt{
    color: gray;
    margin : 1 px solid;
  }
  
  .read-more{
    color : white;
    background-color : gray;
    margin : 1px;
    padding : 1px;
    border-radius : 1px;
    display : inline-block;
  }
  
  .read-more:hover{
    background-color:black;
  }
  